<aside id="sidebar_main">
    <div class="sidebar_main_header">
        <div class="sidebar_logo">
            <a href="index-2.html" class="sSidebar_hide"><img src="/assets/backend/img/logo_main.png" alt="" height="15" width="71"/></a>
            <a href="index-2.html" class="sSidebar_show"><img src="/assets/backend/img/logo_main_small.png" alt="" height="32" width="32"/></a>
        </div>
    </div>
    <div class="menu_section">
        <ul>
            <li {{#compare actionTab 'home' operator="==" }}class="current_section"{{/compare}} title="Dashboard">
                <a href="/">
                    <span class="menu_icon"><i class="material-icons">&#xE871;</i></span>
                    <span class="menu_title">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="menu_icon"><i class="material-icons">&#xE87C;</i></span>
                    <span class="menu_title">User</span>
                </a>
                <ul>
                    <li {{#compare actionTab 'user-manage' operator="==" }}class="act_item"{{/compare}}><a href="/user-manage">User Management</a></li>
                    <li {{#compare actionTab 'user-add' operator="==" }}class="act_item"{{/compare}}><a href="/user-add">User Add</a></li>
                </ul>
            </li>
        </ul>
    </div>
</aside>